<%if(success && success.length){ %>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3 position-fixed"
        style="top: 20px; left: 0; right: 0; z-index: 1050; margin-left: auto; margin-right: auto;" role="alert">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <%} %>
        <%if(error && error.length){ %>
            <div class="alert alert-danger alert-dismissible fade show col-6 offset-3 position-fixed"
                style="top: 50px; left: 0; right: 0; z-index: 1050; margin-left: auto; margin-right: auto;"
                role="alert">
                <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <%} %>