<footer style="margin: 0; height:auto;" >
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/parivaibhav" class="text-black"> <i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/vaibhav-pari-399a88230?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                class="text-black"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/parivaibhav" class="text-black"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.youtube.com/@Parivaibhav055" class="text-black"><i
                    class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited made by vaibhav pari</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>